<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender de consola -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Establece el nivel de log para el paquete de MongoDB -->
    <logger name="org.mongodb.driver" level="WARN"/>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
